.home-container{

height:calc(100vh - 80px);

display:flex;

justify-content:center;

align-items:center;

background:

linear-gradient(
rgba(0,0,0,0.55),
rgba(0,0,0,0.55)
),

url("https://images.unsplash.com/photo-1515003197210-e0cd71810b5f");

background-size:cover;

background-position:center;

}


.hero{

text-align:center;

color:white;

max-width:700px;

}



.hero h1{

font-size:55px;

margin-bottom:20px;

}



.hero p{

font-size:22px;

line-height:1.5;

margin-bottom:35px;

}



.hero button{

background:#ff6b00;

border:none;

padding:16px 45px;

border-radius:30px;

font-size:20px;

color:white;

cursor:pointer;

}



.hero button:hover{

background:#ff8c42;

}